# Last Map created that is working (before try some improvements)

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import HeatMap
from folium.plugins import HeatMapWithTime
import plotly.express as px

# Creating the DataFrames

## Creating a DataFrame for the Train Set

In [2]:
df_sales = pd.read_csv("gs://business-case/train.csv")

In [3]:
df_sales

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,1,2013-01-01,1,BABY CARE,0.000,0
2,2,2013-01-01,1,BEAUTY,0.000,0
3,3,2013-01-01,1,BEVERAGES,0.000,0
4,4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0

## Creating a DataFrame for the Stores Set

In [4]:
df_stores = pd.read_csv("gs://business-case/stores.csv")

In [5]:
df_stores

    store_nbr           city                           state type  cluster
0           1          Quito                       Pichincha    D       13
1           2          Quito                       Pichincha    D       13
2           3          Quito                       Pichincha    D        8
3           4          Quito                       Pichincha    D        9
4           5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
5           6          Quito                       Pichincha    D       13
6           7          Quito                       Pichincha    D        8
7           8          Quito                       Pichincha    D        8
8           9          Quito                       Pichincha    B        6
9          10          Quito                       Pichincha    C       15
10         11        Cayambe                       Pichincha    B        6
11         12      Latacunga                        Cotopaxi    C       15
12         13      Latacunga                        Cotopaxi    C       15
13         14       Riobamba                      Chimborazo    C        7
14         15         Ibarra                        Imbabura    C       15
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
16         17          Quito                       Pichincha    C       12
17         18          Quito                       Pichincha    B       16
18         19       Guaranda                         Bolivar    C       15
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
21         22           Puyo                         Pastaza    C        7
22         23         Ambato                      Tungurahua    D        9
23         24      Guayaquil                          Guayas    D        1
24         25        Salinas                     Santa Elena    D        1
25         26      Guayaquil                          Guayas    D       10
26         27          Daule                          Guayas    D        1
27         28      Guayaquil                          Guayas    E       10
28         29      Guayaquil                          Guayas    E       10
29         30      Guayaquil                          Guayas    C        3
30         31       Babahoyo                        Los Rios    B       10
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
33         34      Guayaquil                          Guayas    B        6
34         35         Playas                          Guayas    C        3
35         36       Libertad                          Guayas    E       10
36         37         Cuenca                           Azuay    D        2
37         38           Loja                            Loja    D        4
38         39         Cuenca                           Azuay    B        6
39         40        Machala                          El Oro    C        3
40         41        Machala                          El Oro    D        4
41         42         Cuenca                           Azuay    D        2
42         43     Esmeraldas                      Esmeraldas    E       10
43         44          Quito                       Pichincha    A        5
44         45          Quito                       Pichincha    A       11
45         46          Quito                       Pichincha    A       14
46         47          Quito                       Pichincha    A       14
47         48          Quito                       Pichincha    A       14
48         49          Quito                       Pichincha    A       11
49         50         Ambato                      Tungurahua    A       14
50         51      Guayaquil                          Guayas    A       17
51         52          Manta                          Manabi    A       11
52         53          Manta                          Manabi    D       13
53         54      El Carmen                          Manabi    C        3

## Creating a DataFrame for the cities location

In [6]:
df_heatmap = pd.read_csv("/root/code/mrdaraujo/Heatmap.csv")
df_heatmap.rename(columns = {'Unnamed: 0':'city', 'Unnamed: 1':'Lat', 'Unnamed: 2':'Lon', 'Unnamed: 3':'Weight'}, inplace = True)
df_heatmap.drop([0], axis=0, inplace=True)

In [7]:
df_heatmap

             city            Lat           Lon Weight
1           Quito  -0.1783523031   -78.4587897     18
2   Santo Domingo  -0.2573192362  -79.17520814      3
3         Cayambe  0.04266553824  -78.14562698      1
4       Latacunga  -0.9335619099  -78.61440404      2
5        Riobamba   -1.668152557  -78.65198534      1
6          Ibarra   0.3469331238  -78.13233517      1
7        Guaranda    -1.53282959  -79.00644372      1
8            Puyo   -1.493138393  -78.00040096      1
9          Ambato   -1.254569063  -78.62299276      2
10      Guayaquil   -2.190046076  -79.89591672      8
11        Salinas   -2.224225066  -80.95636438      1
12          Daule   -1.861665266  -79.97758321      1
13       Babahoyo    -1.80188957  -79.53526512      1
14        Quevedo   -1.022975477  -79.46288576      1
15         Playas   -2.605399901   -80.3880077      1
16       Libertad   -2.231676838  -80.90087428      1
17         Cuenca   -2.900436002  -79.00792883      3
18           Loja   -3.994920984   -79.2034668      1
19        Machala   -3.197789669  -79.88506978      2
20     Esmeraldas   0.9699141564  -79.65087377      1
21          Manta  -0.9676301717  -80.70745538      2
22      El Carmen  -0.2156214788  -79.45971965      1

## DataFrame merged Train+Stores

In [8]:
sales_and_stores = pd.merge(df_sales, df_stores, on='store_nbr')

In [9]:
sales_and_stores

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13
...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6

## DataFrame merged Train+Stores + City Locations

In [10]:
map_base = pd.merge(sales_and_stores, df_heatmap, on='city').drop(columns=['Weight', 'type', 'cluster', 'state', 'onpromotion'])

In [11]:
map_base

,id,date,store_nbr,family,sales,city,Lat,Lon
0,0,2013-01-01,1,AUTOMOTIVE,0.000,Quito,-0.1783523031,-78.4587897
1,1,2013-01-01,1,BABY CARE,0.000,Quito,-0.1783523031,-78.4587897
2,2,2013-01-01,1,BEAUTY,0.000,Quito,-0.1783523031,-78.4587897
3,3,2013-01-01,1,BEVERAGES,0.000,Quito,-0.1783523031,-78.4587897
4,4,2013-01-01,1,BOOKS,0.000,Quito,-0.1783523031,-78.4587897
...,...,...,...,...,...,...,...,...
3000883,3000751,2017-08-15,54,POULTRY,59.619,El Carmen,-0.2156214788,-79.45971965
3000884,3000752,2017-08-15,54,PREPARED FOODS,94.000,El Carmen,-0.2156214788,-79.45971965
3000885,3000753,2017-08-15,54,PRODUCE,915.371,El Carmen,-0.2156214788,-79.45971965
3000886,3000754,2017-08-15,54,SCHOOL AND OFFICE SUPPLIES,0.000,El Carmen,-0.2156214788,-79.45971965
3000887,3000755,2017-08-15,54,SEAFOOD,3.000,El Carmen,-0.2156214788,-79.45971965

## Cleaning the DataFrame merged

In [12]:
map_base['date'] = pd.to_datetime(map_base['date'])         # Changing the column date to DateTime
map_base['month'] = map_base['date'].dt.month               # Creating a new column for month
map_base['Year'] = map_base['date'].dt.year                 # Creating a new column for year

In [13]:
map_base

,id,date,store_nbr,family,sales,city,Lat,Lon,month,Year
0,0,2013-01-01,1,AUTOMOTIVE,0.000,Quito,-0.1783523031,-78.4587897,1,2013
1,1,2013-01-01,1,BABY CARE,0.000,Quito,-0.1783523031,-78.4587897,1,2013
2,2,2013-01-01,1,BEAUTY,0.000,Quito,-0.1783523031,-78.4587897,1,2013
3,3,2013-01-01,1,BEVERAGES,0.000,Quito,-0.1783523031,-78.4587897,1,2013
4,4,2013-01-01,1,BOOKS,0.000,Quito,-0.1783523031,-78.4587897,1,2013
...,...,...,...,...,...,...,...,...,...,...
3000883,3000751,2017-08-15,54,POULTRY,59.619,El Carmen,-0.2156214788,-79.45971965,8,2017
3000884,3000752,2017-08-15,54,PREPARED FOODS,94.000,El Carmen,-0.2156214788,-79.45971965,8,2017
3000885,3000753,2017-08-15,54,PRODUCE,915.371,El Carmen,-0.2156214788,-79.45971965,8,2017
3000886,3000754,2017-08-15,54,SCHOOL AND OFFICE SUPPLIES,0.000,El Carmen,-0.2156214788,-79.45971965,8,2017
3000887,3000755,2017-08-15,54,SEAFOOD,3.000,El Carmen,-0.2156214788,-79.45971965,8,2017

## Grouping the DataFrame merged

In [14]:
map_base_2 = map_base.groupby(["Year","month","family","store_nbr", "city", "Lat", "Lon"]).sum().reset_index()

In [15]:
map_base_2

,Year,month,family,store_nbr,city,Lat,Lon,id,sales
0,2013,1,AUTOMOTIVE,1,Quito,-0.1783523031,-78.4587897,828630,68.000000
1,2013,1,AUTOMOTIVE,2,Quito,-0.1783523031,-78.4587897,839883,107.000000
2,2013,1,AUTOMOTIVE,3,Quito,-0.1783523031,-78.4587897,851136,186.000000
3,2013,1,AUTOMOTIVE,4,Quito,-0.1783523031,-78.4587897,862389,120.000000
4,2013,1,AUTOMOTIVE,5,Santo Domingo,-0.2573192362,-79.17520814,873642,134.000000
...,...,...,...,...,...,...,...,...,...
99787,2017,8,SEAFOOD,50,Ambato,-1.254569063,-78.62299276,44822235,294.618001
99788,2017,8,SEAFOOD,51,Guayaquil,-2.190046076,-79.89591672,44822730,767.296000
99789,2017,8,SEAFOOD,52,Manta,-0.9676301717,-80.70745538,44823225,137.227000
99790,2017,8,SEAFOOD,53,Manta,-0.9676301717,-80.70745538,44823720,68.000000
99791,2017,8,SEAFOOD,54,El Carmen,-0.2156214788,-79.45971965,44824215,38.000000

## Creating a New DataFrame without the year 2017

In [16]:
dropping_2017 = map_base_2[map_base_2['Year']==2017]
dropping_2017

,Year,month,family,store_nbr,city,Lat,Lon,id,sales
85536,2017,1,AUTOMOTIVE,1,Quito,-0.1783523031,-78.4587897,81316224,107.000000
85537,2017,1,AUTOMOTIVE,2,Quito,-0.1783523031,-78.4587897,81327477,214.000000
85538,2017,1,AUTOMOTIVE,3,Quito,-0.1783523031,-78.4587897,81338730,351.000000
85539,2017,1,AUTOMOTIVE,4,Quito,-0.1783523031,-78.4587897,81349983,141.000000
85540,2017,1,AUTOMOTIVE,5,Santo Domingo,-0.2573192362,-79.17520814,81361236,90.000000
...,...,...,...,...,...,...,...,...,...
99787,2017,8,SEAFOOD,50,Ambato,-1.254569063,-78.62299276,44822235,294.618001
99788,2017,8,SEAFOOD,51,Guayaquil,-2.190046076,-79.89591672,44822730,767.296000
99789,2017,8,SEAFOOD,52,Manta,-0.9676301717,-80.70745538,44823225,137.227000
99790,2017,8,SEAFOOD,53,Manta,-0.9676301717,-80.70745538,44823720,68.000000
99791,2017,8,SEAFOOD,54,El Carmen,-0.2156214788,-79.45971965,44824215,38.000000

In [17]:
map_base_cleaned = map_base_2.drop(map_base_2[map_base_2['Year']==2017].index, axis=0, inplace=False)
map_base_cleaned

,Year,month,family,store_nbr,city,Lat,Lon,id,sales
0,2013,1,AUTOMOTIVE,1,Quito,-0.1783523031,-78.4587897,828630,68.000000
1,2013,1,AUTOMOTIVE,2,Quito,-0.1783523031,-78.4587897,839883,107.000000
2,2013,1,AUTOMOTIVE,3,Quito,-0.1783523031,-78.4587897,851136,186.000000
3,2013,1,AUTOMOTIVE,4,Quito,-0.1783523031,-78.4587897,862389,120.000000
4,2013,1,AUTOMOTIVE,5,Santo Domingo,-0.2573192362,-79.17520814,873642,134.000000
...,...,...,...,...,...,...,...,...,...
85531,2016,12,SEAFOOD,50,Ambato,-1.254569063,-78.62299276,77108100,543.510003
85532,2016,12,SEAFOOD,51,Guayaquil,-2.190046076,-79.89591672,77109090,1515.546000
85533,2016,12,SEAFOOD,52,Manta,-0.9676301717,-80.70745538,77110080,0.000000
85534,2016,12,SEAFOOD,53,Manta,-0.9676301717,-80.70745538,77111070,183.790000
85535,2016,12,SEAFOOD,54,El Carmen,-0.2156214788,-79.45971965,77112060,35.000000

In [18]:
sales_city_year = pd.DataFrame(map_base_cleaned.groupby(['city', 'Lat', 'Lon'])['sales'].sum()).reset_index().sort_values(by='sales', ascending=False)
sales_city_year

             city            Lat           Lon         sales
18          Quito  -0.1783523031   -78.4587897  4.583833e+08
8       Guayaquil   -2.190046076  -79.89591672  1.011440e+08
3          Cuenca   -2.900436002  -79.00792883  3.917825e+07
0          Ambato   -1.254569063  -78.62299276  3.348328e+07
21  Santo Domingo  -0.2573192362  -79.17520814  2.908289e+07
13        Machala   -3.197789669  -79.88506978  2.693674e+07
2         Cayambe  0.04266553824  -78.14562698  2.370083e+07
10      Latacunga  -0.9335619099  -78.61440404  1.781325e+07
12           Loja   -3.994920984   -79.2034668  1.585401e+07
4           Daule   -1.861665266  -79.97758321  1.568099e+07
1        Babahoyo    -1.80188957  -79.53526512  1.472796e+07
6      Esmeraldas   0.9699141564  -79.65087377  1.310532e+07
11       Libertad   -2.231676838  -80.90087428  1.257300e+07
17        Quevedo   -1.022975477  -79.46288576  1.197815e+07
7        Guaranda    -1.53282959  -79.00644372  1.092870e+07
9          Ibarra   0.3469331238  -78.13233517  9.595803e+06
19       Riobamba   -1.668152557  -78.65198534  9.520629e+06
20        Salinas   -2.224225066  -80.95636438  9.283731e+06
5       El Carmen  -0.2156214788  -79.45971965  8.988156e+06
14          Manta  -0.9676301717  -80.70745538  8.504628e+06
15         Playas   -2.605399901   -80.3880077  6.391348e+06
16           Puyo   -1.493138393  -78.00040096  2.572988e+06

# Creating a map (using Plotly)

## Instantiating the map token

In [19]:
api_token = px.set_mapbox_access_token('pk.eyJ1IjoibXJkYXJhdWpvIiwiYSI6ImNsM3hsY2c2NzAzcHEzYm1oYmliZHc5aXoifQ.1E3p2I8p8bEkHSPJDzUXWQ')

## Changing the Columns Lat and Lon types to float

In [39]:
map_base['Lat'] = pd.to_numeric(map_base['Lat'])
map_base['Lon'] = pd.to_numeric(map_base['Lon'])

In [20]:
#map_base_2['Lat'] = pd.DataFrame(map_base_2['Lat'])
map_base_2['Lat'] = pd.to_numeric(map_base_2['Lat'])
#map_base_2['Lon'] = pd.DataFrame(map_base_2['Lon'])
map_base_2['Lon'] = pd.to_numeric(map_base_2['Lon'])

In [21]:
map_base_2.dtypes

Year           int64
month          int64
family        object
store_nbr      int64
city          object
Lat          float64
Lon          float64
id             int64
sales        float64
dtype: object

In [22]:
sales_city_year['Lat'] = pd.to_numeric(sales_city_year['Lat'])
sales_city_year['Lon'] = pd.to_numeric(sales_city_year['Lon'])

In [23]:
sales_city_year.dtypes

city      object
Lat      float64
Lon      float64
sales    float64
dtype: object

In [28]:
map_base_cleaned['Lat'] = pd.to_numeric(map_base_cleaned['Lat'])
map_base_cleaned['Lon'] = pd.to_numeric(map_base_cleaned['Lon'])

In [29]:
map_base_cleaned.dtypes

Year           int64
month          int64
family        object
store_nbr      int64
city          object
Lat          float64
Lon          float64
id             int64
sales        float64
dtype: object

## Ploting the Map

In [47]:
# px.set_mapbox_access_token('pk.eyJ1IjoibXJkYXJhdWpvIiwiYSI6ImNsM3hsY2c2NzAzcHEzYm1oYmliZHc5aXoifQ.1E3p2I8p8bEkHSPJDzUXWQ')
# df = px.data.election_geojson()
# fig = px.scatter_mapbox(data_frame=sales_city_year, lat="Lat", lon="Lon", color="city", size="sales",
#                   color_continuous_scale=px.colors.cyclical.IceFire, size_max=25, zoom=5.5, mapbox_style="carto-darkmatter")
# fig.show()

In [44]:
# px.set_mapbox_access_token('pk.eyJ1IjoibXJkYXJhdWpvIiwiYSI6ImNsM3hsY2c2NzAzcHEzYm1oYmliZHc5aXoifQ.1E3p2I8p8bEkHSPJDzUXWQ')
# df = px.data.election_geojson()
# fig = px.scatter_mapbox(data_frame=map_base, lat="Lat", lon="Lon", color="city", size="sales",
#                   color_continuous_scale=px.colors.cyclical.IceFire, size_max=50, zoom=5.5, mapbox_style="carto-darkmatter", animation_frame="family",
#     animation_group="Year")
# fig.show()

In [25]:
sales_city_year

             city       Lat        Lon         sales
18          Quito -0.178352 -78.458790  4.583833e+08
8       Guayaquil -2.190046 -79.895917  1.011440e+08
3          Cuenca -2.900436 -79.007929  3.917825e+07
0          Ambato -1.254569 -78.622993  3.348328e+07
21  Santo Domingo -0.257319 -79.175208  2.908289e+07
13        Machala -3.197790 -79.885070  2.693674e+07
2         Cayambe  0.042666 -78.145627  2.370083e+07
10      Latacunga -0.933562 -78.614404  1.781325e+07
12           Loja -3.994921 -79.203467  1.585401e+07
4           Daule -1.861665 -79.977583  1.568099e+07
1        Babahoyo -1.801890 -79.535265  1.472796e+07
6      Esmeraldas  0.969914 -79.650874  1.310532e+07
11       Libertad -2.231677 -80.900874  1.257300e+07
17        Quevedo -1.022975 -79.462886  1.197815e+07
7        Guaranda -1.532830 -79.006444  1.092870e+07
9          Ibarra  0.346933 -78.132335  9.595803e+06
19       Riobamba -1.668153 -78.651985  9.520629e+06
20        Salinas -2.224225 -80.956364  9.283731e+06
5       El Carmen -0.215621 -79.459720  8.988156e+06
14          Manta -0.967630 -80.707455  8.504628e+06
15         Playas -2.605400 -80.388008  6.391348e+06
16           Puyo -1.493138 -78.000401  2.572988e+06

In [45]:
# px.set_mapbox_access_token('pk.eyJ1IjoibXJkYXJhdWpvIiwiYSI6ImNsM3hsY2c2NzAzcHEzYm1oYmliZHc5aXoifQ.1E3p2I8p8bEkHSPJDzUXWQ')
# df = px.data.election_geojson()
# fig = px.scatter_mapbox(data_frame=sales_city_year, lat="Lat", lon="Lon", color="city", size="sales",
#                   color_continuous_scale=px.colors.cyclical.IceFire, size_max=25, zoom=5.5, mapbox_style="carto-darkmatter", animation_frame="sales",
#     animation_group="city")
# fig.show()

In [46]:
# px.set_mapbox_access_token('pk.eyJ1IjoibXJkYXJhdWpvIiwiYSI6ImNsM3hsY2c2NzAzcHEzYm1oYmliZHc5aXoifQ.1E3p2I8p8bEkHSPJDzUXWQ')
# df = px.data.election_geojson()
# fig = px.scatter_mapbox(data_frame=map_base_cleaned, lat="Lat", lon="Lon", color="family", size="sales",
#                   color_continuous_scale=px.colors.cyclical.IceFire, size_max=15, zoom=5, mapbox_style="carto-darkmatter")
# fig.show()

## Ploting a graph for the 5 biggest cities

### Creating a base for the 5 cities with more sales

In [31]:
map_base_cleaned_top_five = map_base_cleaned[map_base_cleaned['city'].isin(['Quito', 'Guayaquil', 'Cuenca', 'Ambato', 'Santo Domingo'])]                            
map_base_cleaned_top_five

,Year,month,family,store_nbr,city,Lat,Lon,id,sales
0,2013,1,AUTOMOTIVE,1,Quito,-0.178352,-78.458790,828630,68.000000
1,2013,1,AUTOMOTIVE,2,Quito,-0.178352,-78.458790,839883,107.000000
2,2013,1,AUTOMOTIVE,3,Quito,-0.178352,-78.458790,851136,186.000000
3,2013,1,AUTOMOTIVE,4,Quito,-0.178352,-78.458790,862389,120.000000
4,2013,1,AUTOMOTIVE,5,Santo Domingo,-0.257319,-79.175208,873642,134.000000
...,...,...,...,...,...,...,...,...,...
85528,2016,12,SEAFOOD,47,Quito,-0.178352,-78.458790,77104140,2225.452002
85529,2016,12,SEAFOOD,48,Quito,-0.178352,-78.458790,77105130,865.989000
85530,2016,12,SEAFOOD,49,Quito,-0.178352,-78.458790,77106120,2560.115004
85531,2016,12,SEAFOOD,50,Ambato,-1.254569,-78.622993,77108100,543.510003
85532,2016,12,SEAFOOD,51,Guayaquil,-2.190046,-79.895917,77109090,1515.546000

### Creating a DataFrame Order by City and Sales

In [32]:
top_five_cities = pd.DataFrame(map_base_cleaned_top_five.groupby(['city', 'Year'])['sales'].sum()).reset_index().sort_values(by=[ 'Year','sales', 'city' ], ascending=[True,False , True])
top_five_cities['Year'] = top_five_cities['Year'].astype('string')
top_five_cities

             city  Year         sales
12          Quito  2013  7.257927e+07
8       Guayaquil  2013  1.703402e+07
0          Ambato  2013  6.328640e+06
4          Cuenca  2013  5.493296e+06
16  Santo Domingo  2013  4.505739e+06
13          Quito  2014  1.117390e+08
9       Guayaquil  2014  2.265254e+07
5          Cuenca  2014  8.364468e+06
1          Ambato  2014  8.350750e+06
17  Santo Domingo  2014  6.280642e+06
14          Quito  2015  1.247246e+08
10      Guayaquil  2015  2.805841e+07
6          Cuenca  2015  1.051003e+07
2          Ambato  2015  8.685561e+06
18  Santo Domingo  2015  8.210515e+06
15          Quito  2016  1.493403e+08
11      Guayaquil  2016  3.339902e+07
7          Cuenca  2016  1.481045e+07
3          Ambato  2016  1.011833e+07
19  Santo Domingo  2016  1.008599e+07

### Ploting an Analysis of the top 5 cities for the period of 2014-2016

In [33]:
px.bar(data_frame=top_five_cities, x='city', y='sales', color='Year')

# Starting to work with the families

In [ ]:
df_stores

In [ ]:
df_stores_city = df_stores.groupby(['city'])['store_nbr'].count()
df_stores_city

In [ ]:
df_stores_city = pd.DataFrame(df_stores_city)
df_stores_city

In [ ]:
df_stores_city = df_stores_city.reset_index().sort_values(by='store_nbr', ascending=False)
df_stores_city

In [ ]:
df_stores['city'].nunique()

In [ ]:
df_stores_grouped = df_stores.sort_values(by=city)

In [ ]:
px.bar(data_frame=df_stores_city, x='city', y='store_nbr')